#block-views-events-block{
  background: transparent;
  .views-row{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey;
    &:last-of-type{
      border-bottom: 0;
    }
  }
  .views-field-field-date{
    font-size: $small-font;
  }
}

.node-type-event{
  #block-system-main{
    .field-name-field-date{
      margin-bottom: 2rem;
      color: $primary-color;
    }
  }
}

.view-events{
  &.view-display-id-page{
    .views-row{
      margin-bottom: 1rem;
      border: 1px solid $primary-color;
    }
    .views-field-field-date{
      border-bottom: 1px solid $primary-color;
      padding: 1rem 1.5rem;
      background: $primary-color;
      color: $white;
    }
    .views-field{
      padding: 1rem;
    }
  }
}
